@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
.App {
    margin: 0;
    padding: 0;
}

.Titlebar {
    margin: 0px 10px;
    background-color: black;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: linear-gradient(to right top, yellow, red);
    font-family: 'Alkalami', serif;
}

.container {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 5px;
    width: 60%;
}

.container,
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container img {
    width: 80%;
    height: 30%;
    border-radius: 5px;
    box-shadow: 0px 0px 50px black;
    background-color: black;
    border: 2px solid white;
}

.container h4 {
    color: white;
    margin-top: 40px;
}

.container p {
    text-align: center;
}

.btn {
    border-radius: 20px;
    border: none;
    overflow: none;
    box-shadow: 10px rgb(22, 2, 65);
}

.container hr {
    width: 80%;
    height: 5px;
    margin: 0px auto;
    color: rgb(255, 255, 255);
    border-bottom: 25px;
}